{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static 'css/pribadi.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'layout/navbar.html' %}
    <div class="full-screen">
        <div class="container-fluid" style="padding-right: 10%;padding-left: 10%;">
    {% block content %}
    
    {% endblock %}
        </div>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
