<div class="mb-3">
    <label for="id_nama" class="form-label">Nama Kriteria</label>
    {{ form.nama }}
    <div class="invalid-feedback">{{ form.nama.errors }}</div>
</div>
<div class="mb-3">
    <label for="id_nilai_kepentingan" class="form-label">Nilai Kepentingan</label>
    {{ form.nilai_kepentingan }}
    <div class="invalid-feedback">{{ form.nilai_kepentingan.errors }}</div>
</div>
<div class="mb-3">
    <label for="id_tipe" class="form-label">Tipe</label>
    {{ form.tipe }}
    <div class="invalid-feedback">{{ form.tipe.errors }}</div>
</div>
